gunicorn # not with fcgi
#flup # for fcgi
#python-memcached # for memcached cache (you must install that separately)
Django
south
#django-tagging
#django-tinymce
#django-mptt # necessary patch only in SVN! see http://code.google.com/p/django-mptt/ or http://github.com/matthiask/django-mptt
#feincms # see http://github.com/matthiask/feincms
#django-photologue
#python-dateutil # for django-schedule
#vobject # for django-schedule
#django-schedule # see http://wiki.github.com/thauber/django-schedule/ or http://github.com/fiee/django-schedule
#django-guardian
django-debug-toolbar
