{% load cache i18n %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>project_name :: {% block title %}{% trans "Home" %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/2.8.1/build/reset-fonts-grids/reset-fonts-grids.css">
  <link rel="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/2.8.1/build/base/base.css">
  <link rel="stylesheet" type="text/css" media="screen,projection" href="{{ MEDIA_URL }}css/style.css" />
  <link rel="stylesheet" type="text/css" media="print" href="{{ MEDIA_URL }}css/print.css" />
  <link rel="sitemap" href="/sitemap.xml" type="text/xml" />
  <!-- <link rel="alternate" type="application/rss+xml" title="{% trans "project_name events" %}" href="/calendar/feed/calendar/upcoming/1/"> -->
  <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon" />
  <link rel="icon" href="{{ MEDIA_URL }}favicon.ico" type="image/icon" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js">
  </script>
  {% block extra_head %}
  {% endblock %}
</head>
<body>
  <div id="doc4" class="yui-t4">
    {% block header %}
    <div id="hd">
      {% block hd %}
        <h1>project_name</h1>
      {% endblock %}
      {% block hd_menu %}
        {% include "menus/hd.html" %}
      {% endblock %}
    </div>
    {% endblock %}
    <div id="bd">
      {% block bd %}
      <div id="yui-main">
        <div class="yui-b">
          {% block main_content %}
          <h2>{% trans "Welcome!" %}</h2>
          {% endblock %}
        </div>
      </div>
      <div id="sidebar" class="yui-b">
        {% block side_menu %}
          {% include "menus/side.html" %}
        {% endblock %}
        {% block sidebar %}
          {% include "snippets/messages.html" %}
        {% endblock %}
      </div>
      {% endblock %}
    </div>
    <div id="ft">
      {% block ft %}
      {% include "snippets/languageselect.html" %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
