{% load i18n %}
<ul id="mainmenu" class="">
  <li title="fiëé cérébrale">{# fiee-Menu #}
    <a href="/"><img src="{{ MEDIA_URL }}img/favicon_16.png" style="height:16px;" alt="fiëé" /></a>
    <ul>
      <li><a href="/about"><span class="ui-icon ui-icon-help"></span> {% trans "About..." %}</a></li>
      <li><a href="/"><span class="ui-icon ui-icon-home"></span> {% trans "Home" %}</a></li>
      {% if user.is_authenticated %}
      <li><a href="/accounts/logout"><span class="ui-icon ui-icon-power"></span> {% trans "Logout" %} {{ user }}</a></li>
      <!-- <li><a href="/settings"><span class="ui-icon ui-icon-wrench"></span> {% trans "Preferences" %}</a></li>-->
      {% if user.is_staff %}
      <li><a href="/admin/"><span class="ui-icon ui-icon-key"></span> {% trans "Administration" %}</a></li>
      {% endif %}
      {% else %}
      <li><a href="/accounts/login"><span class="ui-icon ui-icon-power"></span> {% trans "Login" %}</a></li>
      {% endif %}
      {% block menu_fiee %}
      {% endblock %}
    </ul>
  </li>
  {% block hd_menu_more %}
  {% endblock %}
</ul>
